
  
  .card-title {
    margin-bottom: 20px;
    color: red;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-submit {
    width: 100%;
  }
  