
.running-time {
   
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: red;
    color: #ff5722;
    font-size: 18px;
  }
  